form {
  padding: 20px 0;
}

.column {
  margin-top: 20px;
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}


.column__title {
  text-align: center;
}

.todo__task {
  border-radius: 10px;
  border: 1px solid #333;
  list-style: none;
  padding: 5px;
  width: 323px;
  white-space: wrap;
  word-break: break-all;
  background-color: #de0a0a;
}
.inprogress__task {
  border-radius: 10px;
  border: 1px solid #333;
  list-style: none;
  padding: 5px;
  width: 323px;
  white-space: wrap;
  word-break: break-all;
  background-color: #f4e008;
}

.done__task {
   border-radius: 10px;
  border: 1px solid #333;
  list-style: none;
  padding: 5px;
  width: 323px;
  white-space: wrap;
  word-break: break-all;
  background-color: #56cf67;
}
