
.column {
  margin-top: 20px;
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}

.column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.column__title {
  text-align: center;
}

.todo__task {
  border-radius: 10px;
  border: 1px solid #333;
  list-style: none;
  padding: 5px;
  width: 100%;
  background-color: #a74d4d;
}
.inprogress__task {
  border-radius: 10px;
  border: 1px solid #333;
  list-style: none;
  padding: 5px;
  width: 100%;
  background-color: #f4e008;
}

.done__task {
   border-radius: 10px;
  border: 1px solid #333;
  list-style: none;
  padding: 5px;
  width: 100%;
  background-color: #56cf67;
}

